<main class="main">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="sidebar">

        </div>
      </div>

      <div class="col-md-9">
        <header class="header">

        </header>
        <nav class="navigation pt-3 mb-5">
          <!-- <ul class="nav">
            <li><a href="#" class="active">Transactions</a></li>
            <li><a href="#">Turnovers</a></li>
            <li><a href="#">Wallets</a></li>
            <li><a href="#">Rulers</a></li>
          </ul> -->
        </nav>
        <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit.</a> Eum velit, incidunt alias vel beatae maiores labore delectus, dignissimos atque sit hic perferendis neque voluptatem quis ipsam! Voluptate blanditiis cumque architecto.</p>
        <a href="" class="link">Link</a>
      </div>

    </div>
  </div>
</main>
