.alerts-container
  margin: 1rem 2rem 0
  transition: all .65s cubic-bezier(.65,.07,.1,.84)
  overflow: hidden
  height: 80px

.Alert
  padding: 1rem
  padding-right: 4rem
  padding-left: 4rem
  margin-bottom: 1rem
  border-radius: $border-radius
  border: 1px solid $bg-light-borders
  position: relative
  z-index: 1
  background-color: rgba(255,255,255,0.5)
  box-shadow: 0 2px 4px rgba(0,0,0,0.03)

  &.warning
    border-left: 4px solid $warning
    &:after
      font: normal normal normal 14px/1 FontAwesome
      content: '\f071'
      position: absolute
      z-index: 1
      left: 1.5rem
      top: 1.5rem
      font-size: 1rem
      color: $warning
  &.danger
    border-left: 4px solid $danger
    animation: blinking 1200ms linear infinite

    &:after
      font: normal normal normal 14px/1 FontAwesome
      content: '\f06a'
      position: absolute
      z-index: 1
      left: 1.5rem
      top: 1.5rem
      font-size: 1rem
      color: $danger

  &.success
    border-left: 4px solid $success
    &:after
      font: normal normal normal 14px/1 FontAwesome
      content: '\f058'
      position: absolute
      z-index: 1
      left: 1.5rem
      top: 1.5rem
      font-size: 1rem
      color: $success
  &.loading
    border-left: 4px solid $bg-light-borders
    background-color: white
    opacity: 1

    animation: blinking 600ms linear infinite

    &:after
      font: normal normal normal 14px/1 FontAwesome
      content: '\f021'
      position: absolute
      z-index: 1
      left: 1.5rem
      top: 1.5rem
      font-size: 1rem
      color: $bg-light-borders

      animation: spin 1200ms linear infinite

  .alert-message
    font-size: 13px
    line-height: 1rem
    padding: calc(0.5rem - 1px) 0
    margin: 0

  .cp-close
    top: 1.5rem
    right: 1.5rem

@keyframes blinking
  0%
    opacity: 0.6
  50%
    opacity: 0.1
  100%
    opacity: 0.6

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
