.nav
  list-style: none
  margin: 0
  padding: 0
  font-size: 13px
  line-height: 1rem

.nav li
  display: inline-block

  &:hover a
    border-bottom: 2px solid $gray-200

  a, a:link, a:visited
    text-transform: uppercase
    letter-spacing: 0.5px
    display: block
    padding: 1rem 0
    margin-bottom: 0.25rem
    margin-right: 1rem
    color: rgba($link-color, .8)
    text-decoration: none
    border-bottom: 2px solid transparent

  a:focus, a:active, a:hover
    border-bottom: 2px solid $gray-200
    color: rgba($link-color, 1)

  a.active, a.active:link, a.active:visited
    color: rgba($link-color, 1)
    border-bottom: 2px solid $link-color

a, a:link, a:visited
  position: relative
  color: rgba($link-color, .8)
  text-decoration: underline
  +transition($transition-base)

a:focus, a:active, a:hover
  outline: none
  color: rgba($link-color, 1)
  text-decoration: underline
