$tooltipAppearDelay: 800ms

.tooltipContainer
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.Tooltip
  position: fixed
  z-index: $zindex-tooltip
  max-width: 280px
  min-width: 120px
  bottom: 50%
  left: 50%
  background-color: #000
  color: white
  padding: 0.5rem
  font-size: 13px
  border-radius: 4px
  border-bottom: 4px solid $primary
  visibility: hidden
  opacity: 0

  &.fullyVisible
    visibility: visible
    animation: pop-upwards 240ms linear $tooltipAppearDelay forwards

  .tooltip-text
    max-height: 220px
    overflow-y: auto
    text-align: center
    margin-bottom: 0.25rem

  &::before
    content: ''
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-top: 9px solid $primary
    position: absolute
    z-index: 3
    bottom: -12px
    left: 50%
    transform: translate(-50%)


@keyframes pop-upwards
  0%
    transform: matrix(1,0,0,1,0,12) translateX(-50%)
    opacity: 0
  20%
    transform: matrix(1,0,0,1,0,2) translateX(-50%)
    opacity: .7
  40%
    transform: matrix(1,0,0,1,0,-1) translateX(-50%)
    opacity: 1
  70%
    transform: matrix(1,0,0,1,0,0) translateX(-50%)
    opacity: 1
  100%
    transform: matrix(1,0,0,1,0,0) translateX(-50%)
    opacity: 1
