<section class="section-alerts">

  <div class="container mb-3">
    <h5 class="section-title">Alerts</h5>
    <!-- <p class="text-smaller">Please use .Alert className to create alert container</p> -->
  </div>

  <div class="container mb-3">
    <div class="row">

      <div class="col-12">
        <div class="Alert warning">
          <p class="alert-message">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam at minus soluta nemo consequatur doloribus quae aut, nisi esse nam similique voluptas repudiandae velit reprehenderit sapiente laudantium. Id, rerum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam at minus soluta nemo consequatur doloribus quae aut, nisi esse nam similique voluptas repudiandae velit reprehenderit sapiente laudantium. Id, rerum!
          </p>
          <i class="fa fa-times cp-close" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-12">
        <div class="Alert danger">
          <p class="alert-message">
            Id, rerum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam at minus soluta nemo consequatur doloribus quae aut, nisi esse nam similique voluptas repudiandae velit reprehenderit sapiente laudantium. Id, rerum!
          </p>
          <i class="fa fa-times cp-close" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-12">
        <div class="Alert success">
          <p class="alert-message">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione aliquam at minus soluta nemo consequatur doloribus quae aut, nisi esse nam similique voluptas repudiandae velit reprehenderit sapiente laudantium.
          </p>
          <i class="fa fa-times cp-close" aria-hidden="true"></i>
        </div>
      </div>

    </div>
  </div>
