<section class="buttons">
  <div class="container mb-3">
    <h5 class="section-title">Buttons</h5>
  </div>

  <div class="container mb-3">
    <h6 class="section-subtitle">Normal buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-dark">Button Dark</button>
      </div>

    </div>
  </div>

  <div class="container mb-3">
    <h6 class="section-subtitle">Large buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-lg btn-block btn-dark">Button Dark</button>
      </div>

    </div>
  </div>

  <div class="container mb-3">
    <h6 class="section-subtitle">Small buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-sm btn-block btn-dark">Button Dark</button>
      </div>

    </div>
  </div>

  <div class="container mb-3">
    <h6 class="section-subtitle">Extra large buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xl btn-block btn-dark">Button Dark</button>
      </div>

    </div>
  </div>


  <div class="container mb-3">
    <h6 class="section-subtitle">Extra small buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-xs btn-block btn-dark">Button Dark</button>
      </div>

    </div>
  </div>


  <div class="container mb-3">
    <h6 class="section-subtitle">Outlined buttons</h6>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-primary">Button Primary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-secondary">Button Secondary</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-warning">Button Warning</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-danger">Button Danger</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-success">Button Light</button>
      </div>
      <div class="col-lg-2 col-sm-4 mb-2">
        <button class="btn btn-block btn-outline-dark">Button Dark</button>
      </div>

    </div>
  </div>

</section>
