section.section-controls
  .container.container-sm
    .card( style="min-height: 280px;" )
      .cp-dropdown( style="display: block;" )
        ul.cp-dropdown--items-list
          li.cp-dropdown--item 1 One
          li.cp-dropdown--item.active 2 Two
          li.cp-dropdown--item 3 Three
          li.cp-dropdown--item 4 Four
          li.cp-dropdown--item 5 Five
          li.cp-dropdown--item 6 Six
          li.cp-dropdown--item 7 Seven
          li.cp-dropdown--item 8 Eight
