<section class="indicators">
  <div class="container mb-3">
    <h5 class="section-title">Indicators</h5>
  </div>

  <div class="container mb-3">
    <div class="row">

      <div class="col-md-3">
        <div class="Indicator mb-2">
          <p class="Indicator--title">Indicator Title</p>
          <p class="Indicator--value">Indicator Value</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="Indicator mb-2">
          <p class="Indicator--title">Indicator Title</p>
          <p class="Indicator--value">Indicator Value</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="Indicator mb-2">
          <p class="Indicator--title">Indicator Title</p>
          <p class="Indicator--value">Indicator Value</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="Indicator mb-2">
          <p class="Indicator--title">Indicator Title</p>
          <p class="Indicator--value">Indicator Value</p>
        </div>
      </div>

    </div>
  </div>
</section>
