// selection color
::-moz-selection {
  color: $text-color;
  background: $yellow;
}
::selection {
  color: $text-color;
  background: $yellow;
}

// remove IE clear button
input::-ms-clear {
  display: none;
}
// remove IE clear button for sure
::-ms-clear {
  width : 0;
  height: 0;
}

// remove safari autofill
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a:focus {
  outline: none;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
}

body {
  min-width: 1000px;
}

.show {
  display: block !important;
}
