extend layouts/main

block content
  
  include ./modules/header.html
  include ./modules/alerts.html
  include ./modules/base-widgets.html
  //- include ./modules/typography.html
  //- include ./modules/controls.pug
  //- include ./modules/dropdown.pug
  //- include ./modules/buttons.pug
  
