extend layouts/main

block content

  .mb-5
    include ./modules/header.html
  .mb-5#section-alerts
    include ./modules/alerts.html
  .mb-5#section-nav
    include ./modules/nav.html
  .mb-5#section-indicators
    include ./modules/indicators.html
  .mb-5#section-card-widgets
    include ./modules/card-widget.html
  .mb-5#section-buttons
    include ./modules/buttons.html
  .mb-5#section-controls
    include ./modules/controls.html


  //- include ./modules/typography.html
  //- include ./modules/controls.pug
  //- include ./modules/dropdown.pug
  //- include ./modules/buttons.pug
  
