extend layouts/main

block content

  .mb-5
    include ./modules/uikit/header.html
  .mb-5#section-alerts
    include ./modules/uikit/alerts.html
  .mb-5#section-nav
    include ./modules/uikit/nav.html
  .mb-5#section-controls
    include ./modules/uikit/controls.pug
  .mb-5#section-indicators
    include ./modules/uikit/indicators.html
  .mb-5#section-card-widgets
    include ./modules/uikit/card-widget.html
  .mb-5#section-buttons
    include ./modules/uikit/buttons.html
  
