section.section-buttons
  .container.container-sm
    .card
      .mb-3.text-center
        button.btn.btn-primary.btn-block.btn-sm Normal Primary Button
      .mb-3.text-center
        button.btn.btn-primary.btn-block Normal Primary Button
      .mb-3.text-center
        button.btn.btn-primary.btn-block.btn-lg Normal Primary Button
      .mb-3.text-center
        button.btn.btn-primary.btn-block.btn-xl Normal Primary Button
      .mb-3.text-center
        button.btn.btn-warning.btn-block.btn-sm Normal Primary Button

  //- .container.container-sm
    .card
      .mb-3.text-center
        button.btn.btn-secondary Normal Secondary Button
      .mb-3.text-center
        button.btn.btn-success Normal Success Button
      .mb-3.text-center
        button.btn.btn-info Normal Info Button
      .mb-3.text-center
        button.btn.btn-warning Normal Warning Button
      .mb-3.text-center
        button.btn.btn-danger Normal Danger Button
      .mb-3.text-center
        button.btn.btn-light Normal Light Button
      .mb-3.text-center
        button.btn.btn-dark Normal Dark Button

  .container.container-sm
    .card
      p.text-smaller.text-center Please click on the button and enter a code you will receive in SMS
      .mb-3
        button.btn.btn-primary Normal Primary Button
      .mb-3
        button.btn.btn-secondary Normal Secondary Button
      .mb-3
        button.btn.btn-primary.btn-sm Small Primary Button
      .mb-3
        button.btn.btn-warning.btn-lg.btn-block Large Block Button Warning
      
